@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #fa0000;
  --color-banner: #79102a;
  --font-sans: var(--font-assistant);
  --font-serif: var(--font-lora);
}

:root {
  --background: #fef7ec;
  --foreground: #333333;
  --spotlight-color: rgba(0, 0, 0, 0.05); /* Subtle dark shadow for light mode */
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --spotlight-color: rgba(255, 255, 255, 0.15); /* Subtle light glow for dark mode */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-assistant), sans-serif;
}
