@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #16a34a;
  --color-primary-dark: #4ade80;
  --color-accent: #15803d;
  --font-sans: var(--font-assistant);
  --font-serif: var(--font-mono);

  --animate-glitch-1: glitch-1 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  --animate-glitch-2: glitch-2 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  --animate-flicker: flicker 0.15s infinite;

  @keyframes flicker {
    0% {
      opacity: 0.02;
    }

    50% {
      opacity: 0.05;
    }

    100% {
      opacity: 0.02;
    }
  }

  @keyframes glitch-1 {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translate(-2px, 2px);
    }

    40% {
      transform: translate(-2px, -2px);
    }

    60% {
      transform: translate(2px, 2px);
    }

    80% {
      transform: translate(2px, -2px);
    }

    100% {
      transform: translate(0);
    }
  }

  @keyframes glitch-2 {
    0% {
      transform: translate(0);
    }

    20% {
      transform: translate(2px, -2px);
    }

    40% {
      transform: translate(2px, 2px);
    }

    60% {
      transform: translate(-2px, -2px);
    }

    80% {
      transform: translate(-2px, 2px);
    }

    100% {
      transform: translate(0);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --spotlight-color: rgba(0, 0, 0, 0.05);
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --spotlight-color: rgba(0, 255, 0, 0.1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-assistant), sans-serif;
}
