@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #fa0000;
  --color-banner: #79102a;
  --font-sans: var(--font-assistant);
  --font-serif: var(--font-lora);
}

:root {
  --background: #fef7ec;
  --foreground: #333333;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-assistant), sans-serif;
}
